.sidebar {
  min-width: 180px;
  background-color: #2587f6;
  /* height: 100%; */
  display: block;
  border-right: 2px solid rgb(255, 209, 24);
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 30%;
  height: 400px;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
  width: 83%;
}

.sidebar-Menu {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* margin-left: 20px; */
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.goal-icon {
  color: white;
  margin-bottom: 1rem;
  text-decoration: none;
  /* word-spacing: 3px; */
  font-size: 1.3rem;
}

.goal-catergory-menu {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* margin-left: 30px; */
  margin: auto;
  font-family: "Franklin Gothic Small", "Arial Narrow", Arial, sans-serif;
}

.gc-menu-icon {
  text-decoration: none;
  border: 1px solid red;
  padding: 10px;
  margin: 5px;
  background-color: white;
  color: blue;
}
